:root {
    --grey: #605E72;
    --white: #FEFFF1;
    --form-blue: #034BB5;
    --primary-bg: #022C6B;
    --search-text: #AFAFB1;
    --primary-text: #C3C2C9;
    --shadow: rgb(24, 24, 24);
    --main-body-bg: rgba(0, 39, 96, 0.55);
}
