/* Player Section Styles*/
.player {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #172f67;
    width: 100%;
    height: 90px;
    align-items: center;
    box-shadow: 0 0 40px;
    justify-content: space-between;
}

.player-albuminfo,
.other-controls {
    display: flex;
    width: 25vw;
    height: 100%;
    align-items: center;
}

.player-albuminfo .like-btn {
    cursor: pointer;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.player-albuminfo .like-btn .fa-heart {
    color: var(--white);
    font-weight: 100;
    transition: color 0.2s ease-in, font-weight 0.15s ease-in;
}

.player-albuminfo .like-btn input[type="checkbox"]:checked+.fa-heart {
    color: red;
    font-weight: 900;
}

.player-albuminfo .player-songcover {
    margin: 12px 12px 12px 20px;
    width: 75px;
    height: 75px;
}

.player-albuminfo .player-songdetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: auto 10px;
    color: var(--white);
}

/* Playbar Section Styles */
.playbar {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    row-gap: 20px;
}

.playbar .music-progress-bar {
    display: flex;
    width: 500px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--grey);
    align-items: center;
}

.playbar .controls {
    display: flex;
    font-size: 25px;
    cursor: default;
    justify-content: space-between;
    width: 160px;
    color: var(--white);
}

.playbar .controls i {
    cursor: pointer;
}

.playbar .controls .shuffle {
    transition: color 0.5s ease;
    color: var(--white);
    animation-duration: 0.5s;
}

/*Other Control Styles */
.other-controls {
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    color: var(--white);
}

.other-controls .burger-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.other-controls .volume {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.other-controls .volume-control-bar {
    display: flex;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--grey);
    align-items: center;
}

.volume-control-bar .volume-progress {
    width: 80%;
    height: 10px;
    max-width: 100%;
    border-radius: 5px;
    background-color: var(--white);
}

.circle {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--white);
    cursor: grab;
    opacity: 0;
    transform: scale(0);
    transition: opacity 500ms ease, transform 500ms ease;
}

.circle.show {
    opacity: 1;
    transform: scale(1);
}

#seekBar {
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: var(--grey);
}

#seekBar::-webkit-slider-runnable-track {
    height: 10px;
}

#seekBar::-webkit-slider-thumb {
    position: relative;
    top: -2px;
    appearance: none;
    height: 14px;
    width: 14px;
    background-color: var(--white);
    border-radius: 50%;
    z-index: 1;
}

#seekBar::before {
    position: absolute;
    content: "";
    height: 10px;
    width: var(--width);
    background-color: var(--color);
    border-radius: 5px;
    z-index: 1;
}

.rotate-center {
    animation: rotateClockwise 500ms linear forwards;
}

@keyframes shuffleAnimation {
    0% {
        color: var(--white);
    }

    50% {
        color: yellow;
    }

    100% {
        color: var(--white);
    }
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}