/* Nav Bar Styles */
.navbar {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

/* Search Bar Styles */
.searchbar {
    display: flex;
    align-items: center;
    position: relative;
    width: 725px;
    height: 52px;
    border-radius: 25px;
    background-color: var(--grey);
    box-shadow: 0 0 20px var(--shadow);
}

#search-icon {
    margin-left: 10px;
}

#line-separator {
    width: 35px;
    margin-left: 35px;
    position: absolute;
    transform: rotate(90deg);
    border: 1px solid var(--white);
}

#search-input {
    margin-left: 25px;
    border: none;
    font-size: larger;
    color: var(--search-text);
    background-color: var(--grey);
    width: 80%;
}

#search-input:focus {
    outline: none;
    color: var(--search-text);
    background-color: var(--grey);
}

#search-input::placeholder {
    color: var(--search-text);
}

#search-input:-webkit-autofill {
    background-color: var(--grey) !important;
    color: var(--search-text) !important;
    font-weight: 100 !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* Menu Styles */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 0 0 0 var(--shadow);
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;
    position: relative; /* Added for overlay positioning */
    z-index: 100; /* Ensure menu stays above other elements */
}

.menu:hover {
    box-shadow: 0 0 50px var(--shadow);
}

.menu #username-letter {
    color: var(--grey);
    cursor: pointer;
}

.menu .overlay {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 160px;
    background-color: var(--grey);
    color: var(--white);
    font-size: 16px;
    border-radius: 8px;
    flex-direction: column;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.35);
    z-index: 99;
}

.menu .overlay p {
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu .overlay p:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu.show-overlay .overlay {
    display: flex;
}