<%- include('partial/header', {pageTitle:'home'}) %>

<main class="main-body">
    <section class="font-montserrat" id="song-container">
        <h1 id="song-heading" class="song-heading">Songs</h1>
        <div class="song-rows">
            <div class="song-row-1"></div>
            <div class="song-row-2"></div>
        </div>
    </section>

    <section class="font-montserrat" id="album-container">
        <h1 id="album-heading">Albums</h1>
        <div class="album-row"></div>
    </section>
</main>

<%- include('partial/footer', {pageTitle:'home'}) %>