@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');


.font-syne {
    font-family: "Syne";
    font-weight: 1000;
}

.font-syne-mono {
    font-family: "Syne Mono";
}

.font-inter {
    font-family: "Inter";
    font-weight: 1000;
}

.font-montserrat {
    font-family: "Montserrat Alternates";
    font-weight: bold;
}
