@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.font-syne {
    font-family: "Syne", sans-serif;
    font-weight: 1000;
}

.font-syne-mono {
    font-family: "Syne Mono", monospace;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-weight: 1000;
}
