:root {
    --grey: #605E72;
    --shadow: rgb(24, 24, 24);
    --white: #FEFFF1;
    --primary-text: #C3C2C9;
    --search-text: #AFAFB1;
    --primary-bg: #022C6B;
    --main-body-bg: rgba(0, 39, 96, 0.55);
}

/* Nav Bar Styles */
.navbar {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

/* Main Body Styles */
.main-body {
    display: flex;
    width: 100%;
    height: 644px;
    background-color: var(--primary-bg);
    margin: auto;
}