/* Root colors */
:root {
    --grey: #605E72;
    --blue: #0C47BB;
}

/* General styling for input boxes */
.box {
    padding: 16px;
    font-size: 16px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: 100%;
}

/* Input label styling */
.input-container label {
    display: inline-block;
    position: relative;
    bottom: 60px;
    left: 30px;
    color: var(--grey);
    background-color: white;
    text-align: center;
}

/* Form button styling */
.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    font-size: 28px;
    color: white;
    background-color: var(--blue);
    max-height: 52px;
    cursor: pointer;
}

/* Media queries for responsive design on smaller screens */
@media screen and (max-width: 768px) {
    .form-btn {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .box {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
