:root {
    --grey: #605E72;
    --shadow: rgb(24, 24, 24);
    --white: #FEFFF1;
    --primary-text: #C3C2C9;
    --search-text: #AFAFB1;
    --footer-bg: #022C6B;
    --main-body-bg: rgba(0, 39, 96, 0.55);
}

/* Nav Bar Styles */
.navbar {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

#logo-home img {
    border-radius: 30px;
    box-shadow: 0 0 0 var(--shadow);
    transition: box-shadow 0.4s ease-in-out;
}

#logo-home img:hover {
    box-shadow: 0 0 50px var(--shadow);
}

/* Search Bar Styles */
.searchbar {
    display: flex;
    align-items: center;
    position: relative;
    width: 725px;
    height: 52px;
    border-radius: 25px;
    background-color: var(--grey);
    box-shadow: 0 0 20px var(--shadow);
}

#search-icon {
    margin-left: 10px;
}

#line-separator {
    width: 35px;
    margin-left: 35px;
    position: absolute;
    transform: rotate(90deg);
    border: 1px solid var(--white);
}

#search-input {
    margin-left: 25px;
    border: none;
    font-size: larger;
    color: var(--search-text);
    background-color: var(--grey);
    width: 80%;
}

#search-input::placeholder {
    color: var(--search-text);
}

/* Profile Styles */
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 0 0 0 var(--shadow);
    transition: box-shadow 0.4s ease-in-out;
}

.profile:hover {
    cursor: pointer;
    box-shadow: 0 0 50px var(--shadow);
}

.profile #username-letter {
    color: var(--grey);
}

/* Song Section Styles */
.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.song-container,
.album-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-body-bg);
    width: 90%;
    height: 50%;
    border-radius: 50px;
    padding: 30px 25px;
    font-size: 18px;
}

#song-heading,
#album-heading {
    color: var(--primary-text);
    font-weight: 500;
    /* letter-spacing: 0.4px; */
}

#song-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.song-row-1,
.song-row-2 {
    display: flex;
}

.song-row-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 20%;
}

.title-artist {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    row-gap: 5px;
    font-weight: 400;
    color: var(--primary-text);
}

.title-artist .album-name {
    font-size: smaller;
}

.album-row {
    display: flex;
    justify-content: space-between;
}

.album-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
    row-gap: 15px;
    max-width: 145px;
    text-align: center;
}

.album-title {
    font-weight: 200;
    color: var(--primary-text);
}

/* Player Section Styles*/
.player {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--footer-bg);
    width: 100%;
    align-items: center;
    box-shadow: 0 0 40px;
}

.player-albuminfo {
    display: flex;
    align-items: center;
}

.like-btn {
    cursor: pointer;
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-btn .fa-heart {
    color: grey;
    font-weight: 100;
    transition: color 0.2s ease-in, font-weight 0.15s ease-in;
}

.like-btn input[type="checkbox"]:checked+.fa-heart {
    color: red;
    font-weight: 900;
}

.player-songcover {
    margin: 12px 12px 12px 20px;
    width: 75px;
    height: 75px;
}

.player-songdetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: auto 10px;
}

/* Responsive Design (Media Queries) */
@media (max-width: 768px) {

    /* Adjust container widths for mobile view */
    .container_songs,
    .container_albums {
        width: 100%;
        margin: 0;
    }

    /* Reduce the search bar size for mobile */
    .searchbar {
        width: 90%;
    }

    /* Smaller covers for songs and albums on mobile */
    .song_cover,
    .album_cover {
        width: 50px;
        height: 50px;
    }

    /* Adjust font sizes on mobile */
    .songs_header,
    .album_header {
        font-size: 18px;
    }
}