:root {
    --grey: #605E72;
    --shadow: rgb(24, 24, 24);
    --white: #FEFFF1;
    --primary-text: #C3C2C9;
    --search-text: #AFAFB1;
    --footer-bg: #022C6B;
    --main-body-bg: rgba(0, 39, 96, 0.55);
}

/* Nav Bar Styles */
.navbar {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

.logout {
    font-size: 50px;
}

.logout a {
    text-decoration: none;
    color: darkred;
    transition: color 0.4s ease-in-out;
}

.logout a:visited {
    color: darkred;
}

.logout a:hover {
    color: red;
}

/* Expanded Profile Styles */
.expanded-profile {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 50vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #022c6bd1;
    position: relative;
    top: 150px;
    border-radius: 40px;
}

.profile-pic {
    position: fixed;
    width: 400px;
    height: 400px;
    top: 60px;
}

.details-container {
    width: 100%;
    text-align: center;
    color: var(--white);
    letter-spacing: 1px;
    position: relative;
    top: 40px;
    font-size: xx-large;
}

.username, .usermail {
    font-weight: 100;
    padding: 8px;
}