#logo {
    display: block;
    width: fit-content;
    height: fit-content;
}

.logout {
    font-size: 50px;
}

.logout a {
    text-decoration: none;
    color: darkred;
    transition: color 0.4s ease-in-out;
}

.logout a:visited {
    color: darkred;
}

.logout a:hover {
    color: red;
}

/* Expanded Profile Styles */
.expanded-profile {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 50vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #022c6bd1;
    position: relative;
    top: 150px;
    border-radius: 40px;
}

.profile-pic {
    position: fixed;
    width: 400px;
    height: 400px;
    top: 60px;
}

.details-container {
    width: 100%;
    text-align: center;
    color: var(--white);
    letter-spacing: 1px;
    position: relative;
    top: 40px;
    font-size: xx-large;
}

.username, .usermail {
    font-weight: 100;
    padding: 8px;
}

.usermail {
    font-size: 1.2rem;
}