:root {
    --grey: #605E72;
    --shadow: rgb(24, 24, 24);
    --white: #FEFFF1;
    --primary-text: #C3C2C9;
    --search-text: #AFAFB1;
    --footer-bg: #022C6B;
    --main-body-bg: rgba(0, 39, 96, 0.55);
}

/* Nav Bar Styles */
.navbar {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

#logo-home img {
    border-radius: 30px;
    box-shadow: 0 0 0 var(--shadow);
    transition: box-shadow 0.4s ease-in-out;
}

#logo-home img:hover {
    box-shadow: 0 0 50px var(--shadow);
}

/* Search Bar Styles */
.searchbar {
    display: flex;
    align-items: center;
    position: relative;
    width: 725px;
    height: 52px;
    border-radius: 25px;
    background-color: var(--grey);
    box-shadow: 0 0 20px var(--shadow);
}

#search-icon {
    margin-left: 10px;
}

#line-separator {
    width: 35px;
    margin-left: 35px;
    position: absolute;
    transform: rotate(90deg);
    border: 1px solid var(--white);
}

#search-input {
    margin-left: 25px;
    border: none;
    font-size: larger;
    color: var(--search-text);
    background-color: var(--grey);
    width: 80%;
}

#search-input::placeholder {
    color: var(--search-text);
}

#search-input:focus {
    outline: none;
}

/* Song Section Styles */
.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.top-container {
    display: flex;
    gap: 50px;
    width: 90%;
}

.song-container,
.album-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-body-bg);
    width: 90%;
    height: 50%;
    border-radius: 50px;
    padding: 30px 25px;
    font-size: 18px;
}

#song-heading,
#album-heading {
    color: var(--primary-text);
    font-weight: 500;
}

#song-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.song-row-1,
.song-row-2 {
    display: flex;
    justify-content: space-between;
}

.song-row-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 25%;
}

.song-row-item:hover,
.album-row-item:hover {
    transform: scale(1.05);
    /* Slightly increase size on hover */
    transition: transform 0.32s;
    /* Smooth transition */
}

.song-row-item .song-cover {
    border-radius: 5px;
}

.title-artist {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    row-gap: 5px;
    font-weight: 400;
    color: var(--primary-text);
}

.title-artist .album-name {
    font-size: smaller;
}

.album-row {
    display: flex;
    justify-content: space-between;
}

.album-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
    row-gap: 15px;
    max-width: 145px;
    text-align: center;
}

.album-title {
    font-weight: 200;
    color: var(--primary-text);
}

/* Player Section Styles*/
.player {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--footer-bg);
    width: 100%;
    height: 90px;
    align-items: center;
    box-shadow: 0 0 40px;
    justify-content: space-between;
}

.player-albuminfo,
.other-controls {
    display: flex;
    width: 25vw;
    height: 100%;
    align-items: center;
}

.player-albuminfo .like-btn {
    cursor: pointer;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.player-albuminfo .like-btn .fa-heart {
    color: var(--white);
    font-weight: 100;
    transition: color 0.2s ease-in, font-weight 0.15s ease-in;
}

.player-albuminfo .like-btn input[type="checkbox"]:checked+.fa-heart {
    color: red;
    font-weight: 900;
}

.player-albuminfo .player-songcover {
    margin: 12px 12px 12px 20px;
    width: 75px;
    height: 75px;
}

.player-albuminfo .player-songdetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: auto 10px;
    color: var(--white);
}

/* Playbar Section Styles */
.playbar {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    row-gap: 20px;
}

.playbar .progress-bar {
    width: 500px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--grey);
}

.playbar .progress-bar .progress {
    width: 0%;
    height: 10px;
    max-width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    animation: musicProgress 30s linear forwards;
}

.playbar .controls {
    display: flex;
    font-size: 25px;
    cursor: default;
    justify-content: space-between;
    width: 160px;
    color: var(--white);
}

.playbar .controls i {
    cursor: pointer;
}

.playbar .controls .shuffle {
    transition: color 0.5s ease;
    color: var(--white);
}

.other-controls {
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    color: var(--white);
}

.other-controls .volume {
    display: flex;
    align-items: center;
    gap: 10px;
}

.other-controls .progress-bar {
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--grey);
}

.other-controls .progress-bar .progress {
    width: 80%;
    height: 10px;
    max-width: 100%;
    border-radius: 5px;
    background-color: var(--white);
}


@keyframes musicProgress {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}