.top-container {
    display: flex;
    gap: 50px;
    width: 90%;
}

.artist-container {
    background-color: var(--main-body-bg);
    border-radius: 50px;
}

.artist-container .album-logo {
    margin: 10px;
}

.artist-container #album-details {
    margin: 10px;
    padding-left: 16px;
}

#album-artist {
    font-size: xx-large;
    color: var(--white);
    font-weight: 800;
}

#creator-type {
    font-size: small;
    color: var(--white);
}

#song-container {
    max-width: 75.5%;
}