@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

/* Root colors */
:root {
    --grey: #605E72;
    --blue: #0C47BB;
}

/* Brand tag styling */
#brand-tag {
    color: white;
    font-size: 40px;
    position: absolute;
    left: 40px;
    top: 125px;
    width: 395px;
    height: auto;
}

/* Styling for the main white frame (container of the form) */
.whiteFrame-signup {
    display: flex;
    background-color: white;
    border-radius: 70px 0 0 70px;
    width: 64%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    right: 0;
    column-gap: 100px;
}

/* Rotate and style Beat.it text */
#beatit-text {
    transform: rotate(-90deg);
    white-space: nowrap;
}

/* Adjust font size of Beat.it text */
#beatit-text pre {
    font-size: 40px;
}

/* Form container styling */
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 70%;
}

/* Form heading */
.signup-form #form-heading {
    font-size: 45px;
    letter-spacing: -2px;
}

/* Grid layout for form inputs */
#form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
}

/* First and last name input positioning */
#first-name {
    grid-column: 1 / 2;
}

#last-name {
    grid-column: 2 / 3;
}

/* Email and password input spanning both columns */
#email, #password, #create-account {
    grid-column: 1 / 3;
}

/* Email label width */
#first-name label {
    width: calc(84.475px + 15px);
}

/* Password label width */
#last-name label {
    width: calc(82.5625px + 15px);
}

/* Email label width */
#email label {
    width: calc(42.2875px + 15px);
}

/* Password label width */
#password label {
    width: calc(76.7875px + 15px);
}

/* Styles for redirection link to login page */
#redirect-login {
    position: relative;
    bottom: 20px;
    text-decoration: none;
}

#redirect-login p {
    display: inline;
    color: var(--blue);
}

#redirect-login p:first-child {
    color: var(--grey);
}

/* Cursor pointer for labels and buttons */
.input-container label, .form-btn {
    cursor: pointer;
}

/* Media queries for responsive design on smaller screens */
@media screen and (max-width: 768px) {
    .signup {
        flex-direction: column;
        justify-content: flex-start;
    }

    .whiteFrame-signup {
        padding-left: 40px;
        border-radius: 0;
        width: 100%;
    }

    #beatit-text {
        font-size: 30px;
    }

    #brand-tag {
        font-size: 30px;
        left: 20px;
        top: 100px;
    }
}
