@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

:root {
    --grey: #605E72;
    --blue: #0C47BB;
}

#brand-tag {
    color: white;
    font-size: 40px;
    position: absolute;
    left: 40px;
    top: 125px;
    width: 395px;
    height: auto;
}

.whiteFrame {
    display: flex;
    background-color: white;
    border-radius: 70px 0 0 70px;
    width: 64%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    right: 0;
    column-gap: 100px;
}

#beatit-text {
    transform: rotate(-90deg);
    white-space: nowrap;
}

#beatit-text pre {
    font-size: 40px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* height: 60%; */
}

.signup-form #form-heading {
    font-size: 45px;
    letter-spacing: -2px;
}

#form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    column-gap: 10px;
    /* Adjust for spacing between inputs */
}

#first-name {
    grid-column: 1 / 2;
    /* First column */
}

#last-name {
    grid-column: 2 / 3;
    /* Second column */
}

.name-input label {
    width: calc(84.475px + 15px);
}

#email {
    grid-column: 1 / 3;
    /* Span both columns */
}

#email label {
    width: calc(42.2875px + 15px);
}

#password {
    grid-column: 1 / 3;
    /* Span both columns */
}

#password label {
    width: calc(76.7875px + 15px);
}

.input-container label {
    display: inline-block;
    position: relative;
    bottom: 60px;
    left: 30px;
    color: var(--grey);
    background-color: white;
    text-align: center;
}

.box {
    padding: 16px;
    font-size: 16px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    width: 100%;
}

.form-btn {
    padding: 10px;
    font-size: 28px;
    color: white;
    background-color: var(--blue);
    grid-column: 1 / 3;
    border: none;
    box-sizing: border-box;
    max-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container label, .form-btn {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .signup {
        flex-direction: column;
        justify-content: flex-start;
    }

    .whiteFrame {
        padding-left: 40px;
        width: 100%;
        border-radius: 0;
    }

    #beatit-text {
        font-size: 30px;
    }

    #brand-tag {
        font-size: 30px;
        left: 20px;
        top: 100px;
    }
}