<% if (albums && albums.length> 0) { %>
    <% const renderedAlbums=[]; %>
        <% albums.forEach(song=> { %>
            <% if (!renderedAlbums.includes(song.album)) { %>
                <% renderedAlbums.push(song.album); %>
                    <div class="album-row-item">
                        <img src="<%= song.albumCover %>" class="album-cover" alt="<%= song.album %>" width="145px"
                            height="145px">
                        <p class="album-title font-syne">
                            <%= song.album %>
                        </p>
                    </div>
                    <% } %>
                        <% }); %>
                            <% } else { %>
                                <p>No albums available.</p>
                                <% } %>